@charset "UTF-8";

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  color: white;
  background: black;
  font-family: "Poppins", sans-serif;
}
.container::before {
  content: "";
  background: url(../assets/netflix.jpg) no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  opacity: 0.3;
  z-index: -1;
}
.container .navbar {
  height: 100px;
  display: flex;
}
.container .navbar .left {
  height: 100%;
  display: flex;
  float: left;
}
.container .navbar .left img {
  height: 100px;
  position: absolute;
  left: 35px;
}
.container .title {
  padding: 0px 45px;
}
.container .title .content {
  width: 950px;
  margin: auto;
  padding: 75px 0;
  font-size: 3.1rem;
  text-align: center;
}
.container .title .content h1 {
  width: 650px;
  margin: auto;
  font-size: 3.1rem;
  text-align: center;
}
.container .title .content h2 {
  width: 650px;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}

.container .title .content form h3 {
  font-size: 1rem;
  margin: 18px 0;
  text-align: center;
}

.container .title .content form .email button {
  margin: auto;
  height: 60px;
  width: 150px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  padding: 7px 11px;
  background: #e50914;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
}
.container .title .content form .email button:hover {
  background-color: rgb(244, 6, 18, 0.7);
}
.container .title .content form .email button a {
  text-decoration: none;
  color: white;
}
