@charset "UTF-8";

/* RESET FOR CSS */

/* Remove Default Margin & Padding */

@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Box-Sizing Model */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

/* Default bg & color */

body {
    background: #1A1A1A;
    color: #e0e0e0;
    -webkit-font-smoothing: antialiased;
}

/* Change Image Default */

img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

/* Remove Form Default */

input,
button,
select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

/* Add button default */

button {
    color: #e0e0e0;
    cursor: pointer;
}

/* Remove list item marker */

li {
    list-style: none;
}

/* Change link default */

a {
    text-decoration: none;
    display: block;
    color: #e0e0e0;
}

/* Change default scrollbar style */

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 5em;
    border: 3px solid #E50914;
}