@charset "UTF-8";

/* VARIABLE FOR CSS */

:root {

    /* Typography */

    --section-heading: 40px;
    --fs-lg: 22px;
    --fs-md: 17px;
    --fs-sm: 14px;
    --fs-x-sm: 12px;

    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;

    /* Spacing */

    --px: 120px;
}